body{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}

input{
    width: 450px;
}
.input-container{
    margin: 20px 0;
}

.main-container{        
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:block;
    justify-content: center;
    align-items: center;
    width: 700px;
    height:500px;
    padding: 50px 50px;
    border-radius:10px;
    margin:auto;
}
